.MenuItem{
    margin: 0px;
    display: block;
    height: 100%;
    width: 100%;
    align-items: center;
}

.MenuItem a{
    color: #8f5c2c;
    text-decoration: none;    
    height: 100%;
    text-transform: uppercase;
    padding: 16px 10px;
    display: block;
}

.MenuItem a:hover,
.MenuItem a:active,
.MenuItem a.active{
    color: white;
}

@media (min-width: 501px){
    .MenuItem{
        margin: 0px;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .MenuItem a{
        color: white;
        text-decoration: none;    
        height: 100%;
        text-transform: uppercase;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .MenuItem a:hover,
    .MenuItem a:active,
    .MenuItem a.active{
        background-color: #8f5c2c;
        border-bottom: 4px solid #40a4c8;
    }
}