.SideBar{
    width: 340px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 200;
    padding: 32px 16px;
    transition: transform 0.3s ease-out;
}

.Logo{
    height: 14%;
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

@media (min-width: 501px){
    .SideBar{
        display: none;
    }
}